page-splash {
	.swiper-container  {
		padding-top: 40px;
	}
	.swiper-slide {
		text-align: unset;
		.slide-zoom {
			text-align: unset;
		}
	}
	a {
		color: #fff;
		line-height: 25px;
	}
	ion-title {
		padding: 0 90px 1px;
		width: 100%;
		position: absolute;
		pointer-events: none;
	}
}
